.chamada  {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    color: var(--branco);
    text-align: center;
    
    background-color: var(--bg-chamada-mobile);

    padding-top: 12.25rem;
    padding-bottom: 2.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.chamada__titulo {
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;


    margin-bottom: 1.5rem;
}

.chamada__texto {
    font-family: 'Open Sans';
    font-size: 1.25rem;
    line-height: normal;

    margin: 0 auto 2.5rem;
}

.chamada__botao {
    font-family: 'Open Sans';
    border-color: var(--branco);

}

.chamada__botao:hover{
    color: black;
    background-color: var(--branco);
    transition: .4s;
}

@media screen and (min-width:768px){
    .chamada__texto{
        max-width: 600px;
    }
}

@media (max-width: 330px){
    .chamada{
        padding-top: 15.25rem;
    }
}