.sobre {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
}

.sobre__conteudo{
    padding-left: 1rem;
    padding-right: 1rem;
}

.sobre__titulo {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 1.25rem;
}

.sobre__texto {
    line-height: normal;

    margin-bottom: 1rem;
}

.sobre__texto--destaque {
    color: var(--cinza-escuro);
    font-weight: 700;
}

.sobre__plataformas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-bottom: 1rem;
}

.sobre__imagem {
    display: flex;
    margin: 0 auto;
    min-width: 200px;
}

.sobre__texto--divisao{
    padding-bottom: 2rem;
}

.sobre__imagem{
    display: none;
}


@media (min-width:768px){
    .sobre__texto{
        text-align: center;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .sobre__imagem {
        display: flex;
        max-width: 100%;
        padding-right: 2rem;

}

@media screen and (min-width:1024px){
.sobre {
    max-width: 900px;
    margin: 0 auto;
}

    .sobre__texto--divisao{
        border-bottom: 1px solid var(--cinza-claro);    
    }

    .sobre__plataformas {
        padding: 2rem 0 2rem 0;
    }

    }
}